# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/tu_base"

# Puerto del servidor
PORT=3000

# Correo electrónico (Nodemailer)
EMAIL_USER="tu_correo@gmail.com"
EMAIL_PASS="tu_contraseña_de_aplicacion_aqui"

# Google Calendar API
GOOGLE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_PATH=./credentials/google-service-account.json
